# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Misc
*.moved-aside
*.xcworkspace/xcuserdata/
